body {
    background-color: #1e1e1e !important;
    color: #cfcfcf !important;
}

.swagger-ui .topbar, 
.swagger-ui .info,
.swagger-ui .scheme-container {
    background-color: #333 !important;
    color: #cfcfcf !important;
}

.swagger-ui .opblock,
.swagger-ui .opblock-summary {
    background-color: #2b2b2b !important;
}

.swagger-ui .btn, 
.swagger-ui .btn-primary, 
.swagger-ui .btn-clear {
    background-color: #4e4e4e !important;
    border-color: #3e3e3e !important;
    color: #fff !important;
}

.swagger-ui .opblock-summary-method,
.swagger-ui .opblock-summary-path {
    color: #b3b3b3 !important;
}

.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-title_normal {
    color: #e0e0e0 !important;
}
